<!doctype html>
<title>{% block title %}{% endblock %} - mpav</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img class="header-img" height="50" width="50">
  <h1>mpav</h1>
  <ul>
      <li><a class="action" href="{{ url_for('blogs.get_blogs') }}">Home</a></li>
    <li><a class="action" href="{{ url_for('projects.get_projects') }}">Projects</a></li>
    <li><a class="action" href="{{ url_for('research.get_papers') }}">Research</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>